@font-face{
    font-family: Satoshi;
    src: url("../public/Fonts/Satoshi-Variable.ttf");
}
*{
    font-family: Satoshi;
}
.navbar-main{
    width: 890px;
    height: 80px;
    border: 1px solid #FCFCFC;
    border-radius: 122px;
    box-shadow: 0px 0px 20px rgba(127, 127, 127, 0.15);
    position: relative;
    top: 21px;
    left: 275px;
    font-family: Satoshi;
    font-weight: 600;
    color: #303030;
}
.search-filter{
    font-family: Satoshi;
    color: #686868;
    font-weight: 500;
}